In [1]:
import pandas as pd

# For boosting

In [2]:
df_boosting = pd.read_csv('../predictions/Prediction_Final_Jo_XGBoost.csv')

In [3]:
df_boosting.head(29)

    clientid    0
0    50001.0  1.0
1    50002.0  1.0
2    50003.0  1.0
3    50004.0  0.0
4    50005.0  1.0
5    50006.0  0.0
6    50007.0  0.0
7    50008.0  0.0
8    50009.0  0.0
9    50010.0  0.0
10   50011.0  0.0
11   50012.0  0.0
12   50013.0  1.0
13   50014.0  0.0
14   50015.0  1.0
15   50016.0  1.0
16   50017.0  1.0
17   50018.0  1.0
18   50019.0  1.0
19   50020.0  1.0
20   50021.0  1.0
21   50022.0  1.0
22   50023.0  0.0
23   50024.0  0.0
24   50025.0  1.0
25   50026.0  1.0
26   50027.0  0.0
27   50028.0  0.0
28   50029.0  1.0

In [4]:
df_boosting_final = df_boosting.rename(columns={'clientid':'clientid','0':'I_churn_E'}).copy()

In [5]:
(df_boosting['0'] == df_boosting_final['I_churn_E']).sum()

50000

In [6]:
df_boosting_final.head()

   clientid  I_churn_E
0   50001.0        1.0
1   50002.0        1.0
2   50003.0        1.0
3   50004.0        0.0
4   50005.0        1.0

# For NN

In [7]:
df_NN = pd.read_csv('../predictions/Preds_FINALES_07_12.csv')

In [8]:
df_NN.head()

   clientid  churn_labels     churn
0   50001.0             1  0.525148
1   50002.0             1  0.578304
2   50003.0             1  0.684151
3   50004.0             0  0.258016
4   50005.0             1  0.550318

In [9]:
df_NN.drop('churn',axis=1,inplace=True)

In [10]:
df_NN_final = df_NN.rename(columns={'churn_labels':'I_churn_R'}).copy()

In [11]:
(df_NN_final['I_churn_R'] == df_NN['churn_labels']).sum()

50000

# For Arbre

In [29]:
df_arbre = pd.read_sas('../predictions/arbre_final_jo.sas7bdat',format='sas7bdat', encoding='iso-8859-1')

In [30]:
df_arbre.head()

   clientid EM_CLASSIFICATION
0   50001.0                 0
1   50002.0                 0
2   50003.0                 0
3   50004.0                 0
4   50005.0                 1

In [31]:
df_arbre_final = df_arbre.rename(columns={'EM_CLASSIFICATION':'I_churn_A'}).copy()

In [34]:
(df_arbre['EM_CLASSIFICATION'] == df_arbre_final['I_churn_A']).sum()

50000

In [35]:
df_pred_final = pd.concat([df_arbre_final,df_boosting_final,df_NN_final],axis=1)

In [44]:
df_pred_final.head(29)

    clientid I_churn_A  clientid  I_churn_E  clientid  I_churn_R
0    50001.0         0   50001.0        1.0   50001.0          1
1    50002.0         0   50002.0        1.0   50002.0          1
2    50003.0         0   50003.0        1.0   50003.0          1
3    50004.0         0   50004.0        0.0   50004.0          0
4    50005.0         1   50005.0        1.0   50005.0          1
5    50006.0         0   50006.0        0.0   50006.0          0
6    50007.0         0   50007.0        0.0   50007.0          0
7    50008.0         1   50008.0        0.0   50008.0          0
8    50009.0         0   50009.0        0.0   50009.0          0
9    50010.0         0   50010.0        0.0   50010.0          0
10   50011.0         0   50011.0        0.0   50011.0          0
11   50012.0         1   50012.0        0.0   50012.0          1
12   50013.0         1   50013.0        1.0   50013.0          1
13   50014.0         1   50014.0        0.0   50014.0          1
14   50015.0         0   50015.0        1.0   50015.0          1
15   50016.0         1   50016.0        1.0   50016.0          1
16   50017.0         1   50017.0        1.0   50017.0          1
17   50018.0         1   50018.0        1.0   50018.0          1
18   50019.0         1   50019.0        1.0   50019.0          1
19   50020.0         1   50020.0        1.0   50020.0          1
20   50021.0         1   50021.0        1.0   50021.0          1
21   50022.0         1   50022.0        1.0   50022.0          1
22   50023.0         0   50023.0        0.0   50023.0          0
23   50024.0         0   50024.0        0.0   50024.0          0
24   50025.0         1   50025.0        1.0   50025.0          1
25   50026.0         1   50026.0        1.0   50026.0          0
26   50027.0         1   50027.0        0.0   50027.0          0
27   50028.0         0   50028.0        0.0   50028.0          0
28   50029.0         1   50029.0        1.0   50029.0          1

In [43]:
df_pred_final.to_csv('Moatti_test_final.csv')

# Opening Final Fichier

In [48]:
df_fin_fin = pd.read_sas('../Predictions Final & Remise TP2/moatti_test.sas7bdat',format='sas7bdat', encoding='iso-8859-1')

In [49]:
df_fin_fin.dtypes

clientid     float64
I_churn_A    float64
I_churn_E    float64
I_churn_R    float64
dtype: object

In [50]:
df_fin_fin.head(29)

    clientid  I_churn_A  I_churn_E  I_churn_R
0    50001.0        0.0        1.0        1.0
1    50002.0        0.0        1.0        1.0
2    50003.0        0.0        1.0        1.0
3    50004.0        0.0        0.0        0.0
4    50005.0        1.0        1.0        1.0
5    50006.0        0.0        0.0        0.0
6    50007.0        0.0        0.0        0.0
7    50008.0        1.0        0.0        0.0
8    50009.0        0.0        0.0        0.0
9    50010.0        0.0        0.0        0.0
10   50011.0        0.0        0.0        0.0
11   50012.0        1.0        0.0        1.0
12   50013.0        1.0        1.0        1.0
13   50014.0        1.0        0.0        1.0
14   50015.0        0.0        1.0        1.0
15   50016.0        1.0        1.0        1.0
16   50017.0        1.0        1.0        1.0
17   50018.0        1.0        1.0        1.0
18   50019.0        1.0        1.0        1.0
19   50020.0        1.0        1.0        1.0
20   50021.0        1.0        1.0        1.0
21   50022.0        1.0        1.0        1.0
22   50023.0        0.0        0.0        0.0
23   50024.0        0.0        0.0        0.0
24   50025.0        1.0        1.0        1.0
25   50026.0        1.0        1.0        0.0
26   50027.0        1.0        0.0        0.0
27   50028.0        0.0        0.0        0.0
28   50029.0        1.0        1.0        1.0

In [30]:
df_arbre_final.dtypes

clientid     float64
I_churn_A     object
dtype: object

In [31]:
(df_arbre_final['I_churn_A'].astype(float) == df_fin_fin['I_churn_A'])

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
         ...
49970    True
49971    True
49972    True
49973    True
49974    True
49975    True
49976    True
49977    True
49978    True
49979    True
49980    True
49981    True
49982    True
49983    True
49984    True
49985    True
49986    True
49987    True
49988    True
49989    True
49990    True
49991    True
49992    True
49993    True
49994    True
49995    True
49996    True
49997    True
49998    True
49999    True
Name: I_churn_A, Length: 50000, dtype: bool

In [39]:
counte = 0
for i in range(len(df_pred_final)):
    if df_pred_final.iloc[i,1]!=df_pred_final.iloc[i,3]:
        counte+=1
(counte/50000)*100

KeyboardInterrupt:

In [25]:
counte

14149